/*Fonts*/
/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}
/*Variables*/
:root {
  --white: #ffffff;
  --black: #000000;
  --night-rider: #333333;
  --seagull: #81b3d2;
  --roman-coffee: #766357;
  --saddle: #604e43;
  --paco: #503e33;
  --aubegrine: #231f20;
  --very-light-grey: #cacaca;
  --shakespeare: #5496bd;
  --white-smoke: #f2f2f2;
  --dim-gray: #666666;
  --white-30: rgba(255, 255, 255, 0.3);
  --font-family-main: "PT Sans", "Arial", sans-serif;
  --special-black-russian-shadow: rgba(0, 1, 1, 0.2);
  --wisper: #e5e5e5;
}
/*Global*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-main);
  background-color: var(--white-smoke);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page-wrapper {
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--white);
  box-shadow: 0px 5px 15px var(--special-black-russian-shadow);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.main-header {
  text-transform: uppercase;
  position: relative;
  width: 100%;
}

/*nav*/

.site-nav li {
  padding: 0 64px;
}

.site-nav li:nth-child(4n + 3),
li:nth-child(4n + 4) {
  justify-self: end;
}

.site-nav {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 200px;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  list-style: none;
  margin: 0;
  padding: 15px 0;
  width: auto;
  grid-gap: 20px 37px;
}

.site-nav a {
  display: block;
  color: var(--black);
  text-transform: uppercase;
}

.site-nav a:hover {
  color: var(--seagull);
}

.site-nav a:active {
  color: var(--black);
  opacity: 0.3;
}

.main-header-logo {
  position: absolute;
  width: 138px;
  height: 70px;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/*Features*/
.big-text {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 42.5px;
  margin-bottom: 0px;
}

.small-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 16.5px;
  margin-bottom: 51px;
}

.intro {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 60px 20px;
  background-image: url("../img/background.png");
  height: 509px;
  width: 1200px;
}

.intro::after {
  content: "";
  position: absolute;
  top: 453px;
  width: 100%;
  height: 57px;
  background: url('../img/Shape.svg') no-repeat;
  height: 57px;
}

.viev {
  display: flex;
}

.feature-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature-list--second {
  background-color: var(--wisper);
}

.viev-text {
  background-color: var(--seagull);
  padding: 47px 51px 54px 51px;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.viev-text h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.viev-text span {
  font-size: 14px;
  line-height: 21px;
}

.viev-text p {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.feature-item {
  font-weight: 600;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  list-style: none;
  text-align: center;
  margin-top: 60px;
}

.feature-item h3 {
  padding-top: 28px;
  padding-bottom: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.feature-item span {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.feature-item p {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 82px;
}

.interested h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 58px;
}

.interested p {
  text-align: center;
}

.search-button {
  display: block;
  margin: 0 auto;
  color: var(--white);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--roman-coffee);
  cursor: pointer;
  width: 568px;
  height: 86px;
  border: 0px;
  padding: 0;
}

.search-button:hover {
  background-color: var(--saddle);
  border: 0px;
}

.search-button:active {
  color: var(--white-30);
  border: 0px;
}

.main-footer {
  color: var(--black);
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 40px 70px;
}

.footer-contacts {
  align-items: center;
}

.footer-contacts p {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.footer-phone {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  list-style: none;
  color: var(--black);
}

.footer-phone:hover {
  color: var(--seagull);
}

.footer-phone:active {
  color: var(--black);
  opacity: 0.3;
}

.footer-social {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
  align-items: center;
}

.footer-social a {
  color: var(--black);
  text-transform: uppercase;
  width: 46px;
  height: 48px;
  background-color: var(--shakespeare);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social a:hover {
  color: var(--seagull);
}

.footer-social a:active {
  color: var(--black);
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  align-items: center;
}

.footer-copyright p {
  font-size: 14px;
  line-height: 26px;
}

.footer-copyright a {
  list-style: none;
  color: var(--black);
}

.footer-copyright a:hover {
  color: var(--seagull);
}

.footer-copyright a:active {
  color: var(--black);
  opacity: 0.3;
}

.result-sort {
  margin-top: 29px;
  padding-left: 73px;
  padding-right: 73px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.result-sort span {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.sort h3 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 7px;
  margin-left: 48px;
  margin-right: 40px;
}

.sort {
  display: flex;
}

.sort-by {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  border-bottom: var(--black);
  margin-top: 6px;
  margin-right: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.sort-link.active {
  color: var(--seagull);
  border-bottom: none;
  pointer-events: none;
}

.sort-link {
  color: var(--black);
  border-bottom: 1px dotted var(--seagull);
}

.sort-link:hover {
  color: var(--seagull);
}

.sort-link:active {
  color: var(--black);
  opacity: 0.3;
}

.arrows {
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.arrows a {
  color: var(--very-light-grey);
}

.arrows a:hover {
  color: var(--black);
}

.arrows a:active {
  color: var(--seagull);
}

.result-content__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
  text-transform: uppercase;
}

.result-content__title:hover {
  color: var(--seagull);
}

.result-content__title:active {
  color: var(--black);
  opacity: 0.3;
}

.result-content__type {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--night-rider);
  text-transform: uppercase;
}

.result-content__details {
  width: 110px;
  height: 27px;
  left: 277px;
  top: 604px;
  background-color: var(--seagull);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
  margin-right: 6px;
  text-align: center;
}

.result-content__details:hover {
  color: var(--white);
  background-color: var(--shakespeare);
}

.result-content__details:active {
  color: var(--white-30);
  background-color: var(--shakespeare);
}

.result-content__brone {
  width: 110px;
  height: 27px;
  left: 277px;
  top: 604px;
  background-color: var(--roman-coffee);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.result-content__brone:hover {
  background-color: var(--saddle);
}

.result-content__brone:active {
  color: var(--white-30);
}

.stars {
  list-style: none;
}

.result-content__rating-text {
  width: 110px;
  height: 27px;
  left: 1057px;
  top: 755px;
  background-color: var(--white-smoke);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--dim-gray);
  text-align: center;
  margin-right: 33px 85px;
}

.result-number {
  margin: 0;
  padding: 0;
  line-height: 26px;
}

.result-content {
  display: grid;
  grid-template-columns: 135px 1fr 110px;
  padding: 30px 73px;
  border-bottom: 1px solid var(--wisper);
}

.result-content:nth-child(1n) {
  border-top: 1px solid var(--wisper);
}

.result-content__description {
  display: grid;
  grid-template-rows: min-content;
  justify-self: start;
  margin-left: 29px;
}

.result-content__rating-block {
  display: flex;
  flex-direction: column;
}

.result-content__pic {
  padding-top: 30px;
  padding-bottom: 30px;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.links {
  display: flex;
}

.social-link{
  background-color: lightblue;
}

