/*Fonts*/
/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}
/*Variables*/
:root {
  --white: #ffffff;
  --black: #000000;
  --night-rider: #333333;
  --seagull: #81b3d2;
  --roman-coffee: #766357;
  --saddle: #604e43;
  --paco: #503e33;
  --aubegrine: #231f20;
  --very-light-grey: #cacaca;
  --shakespeare: #5496bd;
  --white-smoke: #f2f2f2;
  --dim-gray: #666666;
  --white-30: rgba(255, 255, 255, 0.3);
  --font-family-main: "PT Sans", "Arial", sans-serif;
  --special-black-russian-shadow: rgba(0, 1, 1, 0.2);
  --wisper: #e5e5e5;
  --white-opasity-09: rgba(255, 255, 255, 0.9);
}
/*Global*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-main);
  background-color: var(--white-smoke);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.page-wrapper {
  position: relative;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--white);
  box-shadow: 0px 5px 15px var(--special-black-russian-shadow);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

/*nav*/

.main-nav {
  width: 100%;
  font-size: 14px;
  line-height: 26px;
  padding: 15px 0;
  text-transform: uppercase;
}

.main-header {
  padding: 0 73px;
}

.site-nav {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 200px;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  grid-gap: 10px 28px;
}

.item-nav:nth-child(4n + 1) {
  justify-self: start;
}

.item-nav:nth-child(4n + 2) {
  justify-self: start;
  padding-right: 50px;
}

.item-nav:nth-child(4n + 3) {
  justify-self: end;
  padding-left: 50px;
}

.item-nav:nth-child(4n + 4) {
  justify-self: end;
}

.site-nav a {
  display: block;
  color: var(--black);
  text-transform: uppercase;
}

.site-nav a:hover {
  color: var(--seagull);
}

.site-nav a:active {
  color: var(--black);
  opacity: 0.3;
}

.main-header-logo {
  position: absolute;
  width: 138px;
  height: 70px;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/*Features*/

.our-features {
  margin: 42px auto 50px;
  max-width: 519px;
  text-align: center;
}

.big-text {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.small-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 45px;
}

.intro {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 77px 20px;
  background-image: url("../img/background.png");
  height: 509px;
  width: 1200px;
}

.intro::after {
  content: "";
  position: absolute;
  top: 453px;
  width: 100%;
  height: 57px;
  background: url("../img/Shape.svg") no-repeat;
}

.viev {
  display: flex;
}

.feature-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature-list--second {
  background-color: var(--wisper);
}

.feature-list--second .feature-item {
  padding: 49px 72px 53px 70px;
}

.feature-list--second .feature-item p {
  margin-top: 27px;
}

.viev-text {
  background-color: var(--seagull);
  padding: 43px 51px 54px 51px;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.viev-text h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  max-width: 200px;
  margin-left: 49px;
}

.viev-text span {
  font-size: 14px;
  line-height: 21px;
}

.viev-text p {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.viev-text--second {
  padding: 43px 48px 51px 50px;
}

.viev-text--second h3 {
  max-width: 150px;
  margin-left: 75px;
  margin-top: 8px;
}

.viev-text--second span {
  margin-top: 5px;
}

.feature-item {
  position: relative;
  text-transform: uppercase;
  list-style: none;
  text-align: center;
  padding: 160px 58px 82px 57px;
}

.feature-item h3 {
  margin: 0px auto 25px auto;
  font-weight: 600;
  font-size: 21px;
  line-height: 21px;
  max-width: 150px;
}

.feature-item span {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
}

.feature-item p {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.feature-item svg {
  position: absolute;
  top: 59px;
  left: 50%;
  transform: translateX(-50%);
}

.ofering-item {
  padding: 55px 0 28px 0;
  max-width: 435px;
  margin: 0 auto;
}

.qestion {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.ofering {
  text-align: center;
  text-transform: uppercase;
  margin-top: 35px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
}

.search-button {
  position: relative;
  display: block;
  margin: 0 auto;
  color: var(--white);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--roman-coffee);
  cursor: pointer;
  width: 568px;
  height: 86px;
  border: 0px;
  padding: 0;
}

.search-button:hover {
  background-color: var(--saddle);
  border: 0px;
}

.search-button:active {
  color: var(--white-30);
  border: 0px;
}

.main-footer {
  position: absolute;
  left: 0;
  bottom: 0;
}

.page-footer {
  color: var(--black);
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  bottom: 0px;
  background-color: var(--white-opasity-09);
  width: 100%;
  grid-gap: 55px;
  min-height: 125px;
}

.footer-contacts {
  align-items: center;
  padding: 24px 74px 38px 110px;
  text-align: center;
}

.inst {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.tel {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 12px 0 0 0;
}

.footer-phone {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  list-style: none;
  color: var(--black);
}

.footer-phone:hover {
  color: var(--seagull);
}

.footer-phone:active {
  color: var(--black);
  opacity: 0.3;
}

.footer-social {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0 34px;
  align-items: center;
}

.footer-social a {
  color: var(--black);
  text-transform: uppercase;
  width: 46px;
  height: 48px;
  background-color: var(--seagull);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social a:hover {
  background-color: var(--shakespeare);
}

.footer-social a:active {
  color: var(--black);
  opacity: 0.3;
}

.footer-social a:active svg path {
  fill: var(--shakespeare);
}

.footer-copyright {
  display: flex;
  align-items: center;
  padding: 25px 101px;
}

.footer-copyright p {
  font-size: 14px;
  line-height: 26px;
}

.footer-copyright a {
  list-style: none;
  color: var(--black);
  vertical-align: middle;
}

.academy-logo:hover svg path {
  fill: var(--seagull);
}

.academy-logo:active svg path {
  color: var(--black);
  opacity: 0.3;
}

.choice {
  height: 218px;
}

.result-sort {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 27px 74px 27px 73px;
}

.result-sort span {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.sort h3 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 3px 20px 6px -47px;
}

.sort {
  display: flex;
}

.sort-by {
  margin: 0;
  list-style: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  border-bottom: var(--black);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  padding: 4px 19px 0px 19px;
}

.sort-link.active {
  color: var(--seagull);
  border-bottom: none;
  pointer-events: none;
}

.sort-link {
  color: var(--black);
  border-bottom: 1px dotted var(--seagull);
}

.sort-link:hover {
  color: var(--seagull);
}

.sort-link:active {
  color: var(--black);
  opacity: 0.3;
}

.arrows {
  margin: 0 0 0 auto;
  padding: 7px 0px 6px 5px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 11px;
}

.arrows a {
  color: var(--very-light-grey);
}

.arrows a:hover {
  color: var(--black);
}

.arrows a:active {
  color: var(--seagull);
}

.result-content__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
  text-transform: uppercase;
  margin-top: -6px;
}

.result-content__title:hover {
  color: var(--seagull);
}

.result-content__title:active {
  color: var(--black);
  opacity: 0.3;
}

.result-content__type {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--night-rider);
  text-transform: uppercase;
}

.result-content__details {
  width: 110px;
  height: 25px;
  left: 277px;
  top: 604px;
  background-color: var(--seagull);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
  margin-right: 3px;
  text-align: center;
}

.result-content__details:hover {
  color: var(--white);
  background-color: var(--shakespeare);
}

.result-content__details:active {
  color: var(--white-30);
  background-color: var(--shakespeare);
}

.result-content__brone {
  width: 144px;
  height: 25px;
  left: 277px;
  top: 604px;
  background-color: var(--roman-coffee);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.result-content__brone:hover {
  background-color: var(--saddle);
}

.result-content__brone:active {
  color: var(--white-30);
}

.stars {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 4px;
}

.result-content__rating-text {
  width: 110px;
  height: 27px;
  left: 1057px;
  top: 755px;
  background-color: var(--white-smoke);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--dim-gray);
  text-align: center;
  margin-bottom: 0;
  margin-top: 48px;
}

.result-number {
  margin: 0;
  padding: 0;
  line-height: 26px;
}

.result-content {
  display: grid;
  grid-template-columns: 135px 1fr 110px;
  padding: 27px 73px;
  border-bottom: 1px solid var(--wisper);
}

.result-content:nth-child(1n) {
  border-top: 1px solid var(--wisper);
}

.result-content__description {
  display: grid;
  grid-template-rows: min-content;
  justify-self: start;
  margin-left: 29px;
}

.result-content__rating-block {
  display: flex;
  flex-direction: column;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8px 25px 18px 0px;
}

.links {
  display: flex;
}

.social-link {
  background-color: lightblue;
}

/*form-1*/

.form-container {
  position: absolute;
  width: 568px;
  transform: translateX(-50%);
  background-color: var(--white);
  box-shadow: 0px 5px 15px var(--special-black-russian-shadow);
  box-sizing: border-box;
  padding: 55px;
  height: 395px;
  margin-left: 600px;
}

.search-form-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.search-form-item input, .search-form-control-number input {
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 10px;
  border: 0;
}

.search-form-date {
  height: 38px;
  width: 346px;
  padding-left: 10px;
  box-sizing: border-box;
  border: 0;
  background-color: var(--white-smoke);
}

.search-form-button-calendar {
  right: 0;
}

.search-form-date:hover, .search-form-control-number-field:hover {
  background-color: var(--wisper);
}

.search-form-date:focus,
.search-form-control-number-field:focus {
  background-color: var(--white);
  outline: 2px solid var(--white-smoke);
}

.search-form-groups {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.search-form-control-number {
  position: relative;
}

.search-form-control-number-field {
  text-align: center;
  box-sizing: border-box;
  padding-left: 18px;
  width: 114px;
  background-color: var(--white-smoke);
}

.search-form-control-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 38px;
  height: 38px;
  background-color: var(--extra-light);
  border: 0;
  cursor: pointer;
}

.search-form-item-adult {
  width: 225px;
}

.search-form-item-children {
  width: 180px;
}

.search-form-control-button:hover path {
  fill: var(--black);
}

.search-form-control-button:active path {
  fill: var(--seagull);
}

.search-form-control-button-minus {
  left: 0;
}

.search-form-control-button-plus {
  right: 0;
}

.search-form-button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--seagull);
  width: 100%;
  padding-top: 17px;
  padding-bottom: 18px;
  border: none;
  cursor: pointer;
}

.search-form-button:hover {
  background-color: var(--shakespeare);
}

.search-form-button:active {
  color: var(--white-30);
}

