/*Fonts*/
/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}
/*Variables*/
:root {
  --white: #ffffff;
  --black: #000000;
  --night-rider: #333333;
  --seagull: #81b3d2;
  --roman-coffee: #766357;
  --saddle: #604e43;
  --paco: #503e33;
  --aubegrine: #231f20;
  --very-light-grey: #cacaca;
  --shakespeare: #669ec0;
  --white-smoke: #f2f2f2;
  --dim-gray: #666666;
}
/*Global*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

body {
  font-family: "PT Sans", "Arial" sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*nav*/
.site-nav {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  list-style: none;
}

.site-nav a {
  color: var(--black);
  text-transform: uppercase;
}

.site-nav a:hover {
  color: var(--seagull);
}

.site-nav a:active {
  color: var(--black);
  opacity: 0.3;
}

/*Features*/
.big-text {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.small-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.viev-text {
  background-color: var(--seagull);
  padding: 47px 51px 54px 51px;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
}

.viev-text h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.viev-text span {
  font-size: 14px;
  line-height: 21px;
}

.viev-text p {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.feature-item {
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  list-style: none;
  text-align: center;
}

.feature-item span {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.feature-item p {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.interested h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.interested p {
  text-align: center;
}

.search-button {
  color: var(--white);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--roman-coffee);
  cursor: pointer;
}

.search-button:hover {
  background-color: var(--saddle);
}

.search-button:active {
  color: var(--paco);
}

.main-footer {
  color: var(--black);
  text-transform: uppercase;
}

.footer-contacts p {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.footer-phone {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  list-style: none;
  color: var(--black);
}

.footer-phone:hover {
  color: var(--seagull);
}

.footer-phone:active {
  color: var(--black);
  opacity: 0.3;
}

.footer-social {
  list-style: none;
}

.footer-social a {
  color: var(--black);
  text-transform: uppercase;
}

.footer-social a:hover {
  color: var(--seagull);
}

.footer-social a:active {
  color: var(--black);
  opacity: 0.3;
}

.footer-copyright p {
  font-size: 14px;
  line-height: 26px;
}

.footer-copyright a {
  list-style: none;
  color: var(--black);
}

.footer-copyright a:hover {
  color: var(--seagull);
}

.footer-copyright a:active {
  color: var(--black);
  opacity: 0.3;
}

.result-sort span {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.sort h3 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-by {
  list-style: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  border-bottom: var(--black);
}

.sort-link.active {
  color: var(--seagull);
  border-bottom: none;
}

.sort-link {
  color: var(--black);
  border-bottom: 1px dotted var(--seagull);
  
}

.sort-link:hover {
  color: var(--seagull);
}

.sort-link:active {
  color: var(--black);
  opacity: 0.3;
}

.arrows {
  list-style: none;
}

.arrows a {
  color: var(--very-light-grey);
}

.arrows a:hover {
  color: var(--black);
}

.arrows a:active {
  color: var(--seagull);
}

.result-content__title a {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
  text-transform: uppercase;
}

.result-content__title a:hover {
  color: var(--seagull);
}

.result-content__title a:active {
  color: var(--black);
  opacity: 0.3;
}

.result-content__type {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--night-rider);
  text-transform: uppercase;
}

.result-content__details {
  width: 110px;
  height: 27px;
  left: 277px;
  top: 604px;
  background-color: var(--seagull);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.result-content__details a:hover {
  color: var(--shakespeare);
}

.result-content__details a:active {
  color: var(--white);
  opacity: 0.3;
}

.result-content__brone {
  width: 110px;
  height: 27px;
  left: 277px;
  top: 604px;
  background-color: var(--roman-coffee);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.result-content__brone a:hover {
  background-color: var(--saddle);
}

.result-content__brone a:active {
  background-color: var(--paco);
}

.stars {
  list-style: none;
}

.result-content__rating-text {
  width: 110px;
  height: 27px;
  left: 1057px;
  top: 755px;
  background-color: var(--white-smoke);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--dim-gray);
}
